<h1>Umphrey's Pick 3 - How To Play</h1>

<p>Part of the fun (re: obsession if you're at this site!) of seeing Umphrey's McGee is never knowing what you're going to get night in and night out.  Predicting what songs the band will play at a given show has been a part of many fans' rituals, whether it be through an unofficial wager over a round of beers or through the semi-official game on the Bort that I had started and ran several years back.  After much procrastination, a new era in the Umphrey's Pick 3 game is born.</p>

<p>The rules are pretty simple - pick which three originals and one cover you think the band will play for a corresponding show!  Points are awarded as follows:</p>
<ul>
	<li>3 points for each original song that gets played</li>
	<li>5 points for correctly guessing the cover OR correctly predicting that they won't play a single cover during the whole show</li>
	<li>2 point bonus for correctly picking the opener</li>
	<li>5 point bonus for correctly guessing all three originals correctly</li>
	<li>Additional 5 point bonus for correctly guessing all three originals AND the cover (or no cover) correctly</li>
</ul>

<p>Shows will be open to submit your picks up until 1 hour before showtime.  Scores will be updated soon after the official set list is posted on <a href="http://allthings.umphreys.com/">All Things Umphrey's</a>.</p>

