@import "bootstrap-sprockets";
@import "bootstrap";

@mixin box_sizing {
  -moz-box-sizing:    border-box;
  -webkit-box-sizing: border-box;
  box-sizing:         border-box;
}

/* universal */

.center {
  text-align: center;
}

/* logo */
#logo {
	float: left;
	font-size: 2em;
}

/* homepage background */

// body { 
// 	background: url('um-pick-3-background.jpg') no-repeat center center fixed; 
// 	-webkit-background-size: cover;
// 	-moz-background-size: cover;
// 	-o-background-size: cover;
// 	background-size: cover;
// }

/* header */
// .navbar.navbar-inverse {
//   background: rgba(0,0,0,0.5);
// }

/* footer */
.footer {
	position: absolute;
	bottom: 0px;
	width: 100%;
	height: 60px;
	background-color: light blue;
}

/* miscellaneous */

.debug_dump {
  clear: both;
  float: left;
  width: 100%;
  margin-top: 45px;
  @include box_sizing;
}